body{
    background: #fff;
}
.dashboard-left{
    width: 35%;
    float: left;
    margin-top: 15px;
    overflow: hidden;
}
.dashboard-right{
    width: 63%;
    float: left;
    margin-top: 15px;
    overflow: hidden;
    padding-left: 15px;
}

ul.general_statistics {
    margin: 0;
    overflow: hidden;
    margin-bottom: 10px;
}
.row-fluid > [class*="span"]:first-child {
    margin-left: 0;
}
.row-fluid .span3 {
    width: 23.40426%;
}
.row-fluid > [class*="span"] {
    display: block;
    min-height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    margin-left: 2.12766%;
    
}
ul.general_statistics li {
    padding-bottom: 5px;
}
ul.general_statistics a {
    cursor: pointer;
    color: #A0A0A0;
    padding: 10px;
    width: 70%;
    height: 45px;
    float: left;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    box-shadow: inset white 0 1px 0px, 0 1px 1px #B5B5B5;
    -webkit-box-shadow: inset white 0 1px 0px, 0 1px 1px #B5B5B5;
    -moz-box-shadow: inset #fff 0 1px 0px, 0 1px 1px #B5B5B5;
    border: 1px solid #DFDFDF;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #F7F7F7), color-stop(100%, #E8E8E8));
    background-image: -webkit-linear-gradient(#F7F7F7,#E8E8E8);
    background-image: -moz-linear-gradient(#F7F7F7,#E8E8E8);
    background-image: -o-linear-gradient(#F7F7F7,#E8E8E8);
    background-image: linear-gradient(#F7F7F7,#E8E8E8);
}
ul.general_statistics a img{
}
ul.general_statistics a:active{
    background: #f4f4f4;
    background: -moz-linear-gradient(top,  #f4f4f4 0%, #f7f7f7 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f2f2), color-stop(100%,#f7f7f7));
    background: -webkit-linear-gradient(top,  #f4f4f4 0%,#f7f7f7 100%);
    background: -o-linear-gradient(top,  #f4f4f4 0%,#f7f7f7 100%);
    background: -ms-linear-gradient(top,  #f4f4f4 0%,#f7f7f7 100%);
    background: linear-gradient(top,  #f4f4f4 0%,#f7f7f7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#f7f7f7',GradientType=0 );
}
ul.general_statistics a span{
    text-align: center;
    font-size: 12px;
}
ul.general_statistics a:hover{
    text-decoration: none;
}

.notifications{
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #FCFCFC;
    overflow: hidden;
}
.notifications .title{
    width: 100%;
    padding: 10px 10px 5px 15px;
}
.notifications .title span{
    font-weight: bold;
    font-size: 14px;
}
.notifications .items{
    height: 160px;
    margin: 0 10px;
    border-top: 1px solid #CDCDCD;
}
.notifications .items ul{
    overflow: hidden;
    margin-top: 5px;
}
.notifications .items ul li{
    width: 100%;
    padding: 3px 0;
}
.notifications .items ul li a{
    display: block;
    background: #fff;
    border: 1px solid #CDCDCD;
    padding: 5px 5px;
    color: #8E8E8E;
    font-weight: bold;
    font-size: 12px;
}
.notifications .items ul li a.new{
    background: #F3E0B2;
}
.notifications .items ul li a:hover{
    text-decoration: none;
}

.messages-widget{
    overflow: hidden;
}
.messages-widget ul{
    
}
.messages-widget ul li{
    padding: 6px 0;
}
.messages-widget ul li a{
    width: 96%;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #CDCDCD;
    display: block;
    overflow: hidden;
    padding: 2px 5px;
    color: #333;
}
.messages-widget ul li a.new{
    background: #F3E0B2;
}
.messages-widget ul li a.open{
    background: white;
}
.messages-widget ul li a img{
    float: left;
}
.messages-widget ul li a label{
    float: left;
    margin-top: 8px;
    margin-left: 15px;
    font-size: 12px;
}
.messages-widget ul li a span{
    float: right;
    margin-top: 8px;
    font-size: 12px;
}